body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.main {
  background-image: url(./images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
  min-height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.intro {
  position: absolute;
  top: 40%;
}
#about {
  background-image: url(./images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about-text {
  margin-bottom: 200px;
}
#portfolio {
  background-image: url(./images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.project {
  padding-top: calc(4.5 / 4 * 100%);
  background-image: url(https://picsum.photos/500/500);
  background-size: cover;
  background-position: center;
  margin-top: 25px;
}
#apple {
  background-image: url(./images/apple\ sm.png);
}
@media (min-width: 768px) {
  #apple {
    background-image: url(./images/apple.png);
  }
}
#airbnb {
  background-image: url(./images/airbnb\ sm.png);
}
@media (min-width: 768px) {
  #airbnb {
    background-image: url(./images/airbnb.png);
  }
}
#newsweek {
  background-image: url(./images/newsweek\ sm.png);
}
@media (min-width: 768px) {
  #newsweek {
    background-image: url(./images/newsweek.png);
  }
}
@media (min-width: 768px) {
  .project {
    padding-top: calc(2 / 3.5 * 100%);
  }
}
.social {
  background-image: url(./images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
footer {
  background-image: url(./images/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: black;
}
.fa-brands, .fab {
  font-size: 1.75rem;
}